/*
 *
 * universal styles
 *
 */

html {
  font-size: 18px;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  line-height: 1.4;
  box-sizing: inherit;
  max-width: 26.1rem;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}
/*
 * Header
 * Logo
 * Nav
 */

header {
  display: flex;
  justify-content: space-between;
  background-color: cadetblue;
  color: white;
  width: 100%;
  position: fixed;
  z-index: 2;
}
/* logo */

.logo {
  margin: 1rem 0 1rem 2rem;
}

.logo span {
  display: none;
}

.logo img {
  height: 1.5rem;
}
/* nav */

.nav {
  margin: 1rem 2rem 1rem 0;
}

.mobile_nav span a {
  text-decoration: none;
  color: inherit;
}

.desktop_nav {
  display: none;
}
/*
 *
 * banner
 *
 */
.banner {
  display: block;
  height: 17rem;
  background-image: url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: 20%;
  background-size: cover;
  width: 100%;
}

.banner_container {
  position: relative;
  top: 12.3rem;
  width: 100%;
  display: block;
  background-color: white;
  color: black;
  text-align: center;
}

.banner_text {
  padding: 1rem 0;
  font-weight: bold;
  font-size: 1rem;
}
/*
 *
 *  Main Content
 *
 */
.main_content {
  width: 100%;
  margin: 0 auto;
  padding: 3.77rem 0;
}

.main_content_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main_content_items figcaption {
  font-size: 0.77rem;
  margin-top: 1.54rem;
}

.paper,
.ruler,
.truck {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.paper img {
  width: 3rem;
}

.ruler img,
.truck img {
  width: 5rem;
  margin-top: 1.54rem;
}
/*
 *
 * description
 *
 */
.description {
  width: 100%;
  text-align: center;
}

.description_container h2 {
  background-color: cadetblue;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.5rem 0;
}

.description_container span {
  display: block;
  margin: 1rem 0 4rem;
  text-align: justify;
  font-size: 0.77rem;
}
/*
 *
 * Footer
 *
 */
.footer_container span {
  display: none;
}

.footer_container {
  background-color: azure;
  padding: 4rem 0;
  display: flex;
  justify-content: center;
}